*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    border-bottom: 1px solid black;
}
.nav-items {
    margin: auto;
}
.nav-items ul {
    display: flex;
}
.nav-items ul li {
    list-style: none;
    margin: 10px;
    padding: 10px;
}
.main{
    min-height: 80vh;
}
.search{
    text-align: center;
    margin: 20px;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 10px;
    margin: 25px;
    width: 250px;
}
.restaurant-card:hover{
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}


.footer {
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}
.filter-btn{
    margin: 10px;
    padding: 10px;
    cursor:pointer
}
.resturants-heading{
    text-align: center;
}


.shimmer-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 25px;
    width: 250px;
    height: 400px;
    background-color: whitesmoke;
    align-items:flex-start ;
}
.shimmer-card div {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    padding: 10px;
    margin: 10px auto;
}
.shimmer-card h2,
.shimmer-card h3,
.shimmer-card h4,
.shimmer-card h5,
.shimmer-card h6 {
    background-color: lightgray;
    width: 150px;
    padding: 10px;
    margin: 10px auto;
}
.shimmer-header{
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: lightgray;
    margin-bottom: 20px;
}
.filter{
    display: flex;
    justify-content: space-around;
}
.filter .search-bar{
    width: 300px;
    padding: 10px;
    margin: 10px;
}
.search-bar input[type="search"]{
    height: 50px;
    padding: 10px;
}